<!doctype html>
<html lang="{{ site:short_locale }}" prefix="og: http://ogp.me/ns#">
    <head>
        {{ seo_pro:meta }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="{{ site:short_locale }}">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{ config:app:name }}">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="application-name" content="{{ config:app:name }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="{{ meta:tile_color }}">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="{{ meta:theme_color }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ meta:safari_tab_color }}">
        {{ vite src="resources/css/tailwind.css" }}
        {{ stack:page-specific-stylesheets }}
        {{ ga }}
    </head>
    <body>
        {{ partial:header }}
        {{ template_content }}
        {{ partial:footer }}

        {{ vite src="resources/js/site.js" }}
        {{ stack:page-specific-scripts }}
    </body>
</html>
