<!doctype html>
<html lang="{{ site:short_locale }}" prefix="og: http://ogp.me/ns#" class="scroll-smooth">
    <head>
        {{ seo_pro:meta }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="{{ site:short_locale }}">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{ config:app:name }}">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="application-name" content="{{ config:app:name }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="{{ meta:theme_color }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {{ vite src="resources/css/site.css" }}
        <link href="https://fonts.googleapis.com/css2?family=..." rel="stylesheet">

        {{ stack:page-specific-stylesheets }}
        {{ ga }}
        {{ captcha:head }}
    </head>
    <body>

    <div class="canvi-navbar xl:!hidden">
        <nav id="js-canvi-navbar-right">
            {{ partial:primary-nav }}
        </nav>
    </div>
    <div class="canvi-content min-h-screen bg-white">
        {{ partial:header }}
        {{ template_content }}
        {{ partial:footer }}
    </div>

    {{ vite src="resources/js/site.js" }}
    {{ stack:page-specific-scripts }}
    {{ recaptcha }}
    </body>
</html>
