<!doctype html>
<html lang="{{ site:short_locale }}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{ seotamic:title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ seotamic:description }}">
        <meta name="language" content="{{ site:short_locale }}">
        <meta name="csrf_token" content="{{ csrf_token() }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{ config:app:name }}">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="application-name" content="{{ config:app:name }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="{{ meta:tile_color }}">
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="{{ meta:theme_color }}">
        {{ seotamic:og }}
        {{ seotamic:twitter }}
        <link rel="canonical" href="{{ seotamic:canonical }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <link rel="manifest" href="/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="{{ meta:safari_tab_color }}">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ yield:page-specific-stylesheets }}
        {{ tracking_code_manager:head }}
    </head>
    <body>
        {{ tracking_code_manager:body }}
        {{ template_content }}
        <script src="{{ mix src='/js/site.js' }}"></script>
        {{ yield:page-specific-scripts }}
        {{ tracking_code_manager:footer }}
    </body>
</html>
